<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: main-nav"></div>

    <div class="container">
        <div class="py-5 text-center" th:if="${error != null}">
            <p class="lead">스터디미팅 가입</p>
            <div class="alert alert-danger" role="alert" th:text="${error}"></div>
            <p class="lead" th:text="${account.email}">your@email.com</p>
        </div>
        <div class="py-5 text-center" th:if="${error == null}">
            <p class="lead">스터디미팅 이메일 확인</p>
            <h2>
                이메일에서 인증을 해주세요.
            </h2>
            <p class="lead" th:text="${account.email}">your@email.com</p>
            <small class="text-info">
                <a class="btn btn-outline-info" href="#" th:href="@{/resend-email-token(account=${account})}">
                    이메일 인증 재발송
                </a>
            </small>
        </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</body>
</html>